.container {  
  max-width: 780px;
  height: 100vh;  
  display: flex;
  align-items: center;
  justify-content: center;  
  margin: auto;
}

.container form {
  text-align: center;  
}

.container form input {
  display: inline-block;
  width: 100%;  
  margin-top: 20px;
}

.container form button {
  margin-top: 20px;
}
